<div class="arcade">
    <div class="game-section">
        <div class="game-title">
            Classic Games
        </div>
        <div class="thumbnail">
        <mat-grid-list cols="8" >
            <mat-grid-tile colspan="2" rowspan="1">
                <button mat-button class="button-fill" [routerLink]="['/arcade']">
                    <img class="flappy-thumbnail" src="./assets/flappy-bird-placeholder.jpg">
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="6"></mat-grid-tile>
            <mat-grid-tile colspan="2">
                <div class="caption">
                    Avoid the pipes and soar through Singapore in this remake of the classic flappy bird game
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        </div>
    </div>
</div>
