/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: "whoa-sauce";
    src: local("whoa-sauce"),url(./assets/fonts/whoa-sauce/WhoaSaucePersonalUseBold-mLmV5.ttf) format("truetype");
}

@font-face {
    font-family: "dankosaurus";
    src: local("dankosaurus"),url(./assets/fonts/dankosaurus/Dankosaurus.ttf) format("truetype");
}
