.flappy-thumbnail {
  scale: 0.4;
}

.mat-grid-tile {
  padding-top: 10px;
  border-radius: 25px;;
  /* border: 2px solid black; */
}

.flappy-thumbnail:hover {
  opacity: 0.5;
}

.game-title{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: "dankosaurus";
  font-size: 40px;
}

.button-fill {
  width: auto;
  height: auto;
}

.trivia-thumbnail {
  scale: 0.9;
}

.trivia-thumbnail:hover {
  opacity: 0.5;
}

.game-section {
  padding-top: 20px;
  padding-left: 50px;
}

.thumbnail {
  padding-top: 10px;
}

.jakeGif{
  width: 50px;
  height: auto;
  top: 61%;
  margin-left: 40%;
  margin-bottom: 10%;
  position:absolute;
}

.finn {
  width: 50px;
  height: auto;
  top: 20%;
  margin-left: 60%;
  margin-bottom: 10%;
  position:absolute;
}