<body>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">

        <div class="overlay" *ngIf="loading">
            <div class="spinner">
                <mat-spinner 
                    diameter="50"
                    mode="indeterminate"
                    color="primary">
                </mat-spinner>
            </div>
        </div>
        
        
        <mat-card fxFlex="25">
            <div *ngIf="displayErrorMessage">
                <mat-toolbar color="warn">
                    Login failed! Please try again or register!
                </mat-toolbar>
            </div>
            <mat-toolbar *ngIf="!displayErrorMessage" color="primary">Login</mat-toolbar>
            <form fxLayourAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="loginUser()" [formGroup]="loginForm">
                <mat-form-field>
                  <input matInput placeholder="Username" formControlName="username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="password">
                  </mat-form-field>
                  <button mat-raised-button type="submit">Login</button>
                  <br>
                  <button mat-raised-button [routerLink]="['/register']">Register</button>
              </form>
              
        </mat-card>
    </div>
</body>
