.main-div mat-card {
    padding: 0px;
}

.login-form {
    padding: 20px
}

body {
    background-image: url("src\assets\placeholder-bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.overlay {
    height:100vh;
    width:100%;
    background-color:rgba(0, 0, 0, 0.286);
    z-index:    10;
    top:        0; 
    left:       0; 
    position:   fixed;
}

mat-card {
    border: 55px ;
    border-radius: 30px;
}

mat-toolbar {
    border: 55px !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px;
    border: #000 !important;
}

