<body>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25">
            <div *ngIf="displayErrorMessage">
                <mat-toolbar color="warn">
                    Username already exists
                </mat-toolbar>
            </div>
            <div class="registrationForm">
                <mat-toolbar color="accent">Register New User</mat-toolbar>
            </div>
            <form [formGroup]="registrationForm" fxLayourAlign="stretch" fxLayout="column" class="login-form" (ngSubmit)="register()">
                <mat-form-field>
                  <input matInput formControlName="username" placeholder="Username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="password" type="password" placeholder="Password">
                  </mat-form-field>
                  <button mat-raised-button type="submit" [disabled]="isFormInvalid()">Register</button>
                  <br>
                  <button mat-raised-button [routerLink]="['']">Go to Login</button>
              </form>
              
        </mat-card>
    </div>
</body>