<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
</head>
<mat-toolbar color="primary">
    <span [routerLink]="['/trivia']">Welcome to TRIVIA</span>
  </mat-toolbar>

  <div>
    <form [formGroup]="form" (ngSubmit)="getTrivia()">
        <h4>Select your category</h4>
        <mat-form-field appearance="fill">
        <mat-label>Select Category</mat-label>
        <mat-select formControlName="category">
            <mat-option *ngFor="let category of categories" [value]="category.value">
            {{category.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <br>
        <mat-radio-group aria-label="Select an option" formControlName="difficulty">
            <h4>Choose your difficulty</h4>
            <mat-radio-button value="easy">Easy</mat-radio-button>
            <mat-radio-button value="medium">Medium</mat-radio-button>
            <mat-radio-button value="hard">Hard</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="this.form.invalid">Begin Trivia!</button>
    </form>
</div>

<div *ngIf="quiz">
    <div>
        <mat-list *ngIf="!completed">
            <h2>Score: {{score}}</h2>
            <h3>{{quiz[currentQuestion].question}}</h3>
            <mat-list-item (click)="submitAnswer(randomQuestionList[0])">{{randomQuestionList[0]}}</mat-list-item>
            <mat-list-item (click)="submitAnswer(randomQuestionList[1])">{{randomQuestionList[1]}}</mat-list-item>
            <mat-list-item (click)="submitAnswer(randomQuestionList[2])">{{randomQuestionList[2]}}</mat-list-item>
            <mat-list-item (click)="submitAnswer(randomQuestionList[3])">{{randomQuestionList[3]}}</mat-list-item>
        </mat-list>
    </div>
</div>

